.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.books-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.status-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.image {
    align-self: center;
    justify-self: center;
    min-width: 90%;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 12px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 70%;
}

.book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
}

.book img {
    max-width: 100px;
    height: auto;
}

.book-details {
    flex: 1;
}

.book-details-container {
    display: flex;
    justify-content: space-between;
}

.book-actions {
    display: flex;
    flex-direction: column;
}

.book-actions .btn {
    margin-left: 0;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}